@import '~materialize-css/sass/materialize';

.container {
  text-align: center;
  margin-top: 100px;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 40px;
  }

  button {
    font-size: 1.2rem;
  }
}

.image {
  /* Your image styles here */
}

.loading {
  /* Your loading state styles here */
}

.error {
  /* Your error state styles here */
}

footer {
  display: flex;
  background-color: paleturquoise;
  flex-direction: column;
  max-height: 300px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: dotted 1px red;
  border-bottom: dotted 1px red;
  @media screen and (min-width: 993px) {
    height: 100px;
    flex-direction: row;
    padding-top: unset;
    padding-bottom: unset;
  }

  a:link {
    color: red;
  }
  a:hover {
    color: orange;
  }

  .business_logo {
    display: flex;
    justify-content: center;
    height: 100px;
    @media screen and (min-width: 993px) {
      width: 20%;
      height: auto;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    img {
      height: 100%;
    }
  }

  .business_details {
    @media screen and (min-width: 993px) {
      width: 50%;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    img {
      max-height: 150px;
    }
  }

  .socials {
    @media screen and (min-width: 993px) {
      width: 30%;
    }
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

html,
body {
  margin: 0;
}

#root {
  overflow: hidden;
}

header > nav > .tabs.tabs-fixed-width {
  display: none;
  height: inherit;
  align-items: center;

  @media screen and (min-width: 993px) {
    display: flex;
  }
}

.sidenav {
  li > a {
    display: flex;
    align-items: center;

    span {
      margin-right: 10px;
    }
  }
}

.btn {
  margin-top: 10px;
  margin-bottom: 15px;
}

@import './components/product_advert';
