@import '~materialize-css/sass/materialize';

.container {
  text-align: center;
  margin-top: 100px;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 40px;
  }

  button {
    font-size: 1.2rem;
  }
}

.image {
  /* Your image styles here */
}

.loading {
  /* Your loading state styles here */
}

.error {
  /* Your error state styles here */
}

footer {
  background-color: black;
  min-height: 10vh;
}

html,
body {
  margin: 0;
}

#root {
  overflow: hidden;
}

header > nav > .tabs.tabs-fixed-width {
  display: none;
  height: inherit;
  align-items: center;

  @media screen and (min-width: 993px) {
    display: flex;
  }
}

.sidenav {
  li > a {
    display: flex;
    align-items: center;

    span {
      margin-right: 10px;
    }
  }
}

.btn {
  margin-top: 10px;
  margin-bottom: 15px;
}

@import './components/product_advert';
